{% extends "e_store/base.html" %}

{% load i18n %}

{% block page_header %}
  <h1>{% trans "Order Placed Successfully!" %}</h1>
{% endblock page_header %}

{% block content %}
  <h4>{% trans "Thank you for your purchase. Your order has been placed successfully." %}</h4>
  <h4>{% trans "We will contact you soon for delivery details." %}</h4>
  <h4><a href="{% url 'e_store:order' order.id %}">{% trans "Order details" %}</a> - <a href="{% url 'e_store:home' %}">{% trans "Return to Home" %}</a></h4>
{% endblock %}
