{% extends "e_store/base.html" %}

{% load i18n %}

{% block page_header %}
  <h1>{% trans "T shirts" %}</h1>
{% endblock page_header %}

{% block content %}
  {% if t_shirts %}
    <div class="d-flex flex-wrap">
      {% for t_shirt in t_shirts %}
        <div class="m-2 text-center">
          <a href="{% url 'e_store:item' t_shirt.id %}">
            <div class="card" style="width: 200px; height: 200px;">
              <img src="{{ t_shirt.image.url }}" class="card-img-top" style="width: 200px; height: 200px; object-fit: cover;">
            </div>
          </a>
          <h5 class="mt-2 mb-0">{{ t_shirt.name }}</h5>
          <p class="mb-0">{% trans "Price" %}: {{ t_shirt.price|floatformat:2 }} DA</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h3>We're getting things ready! Items will be available shortly.</h3>
  {% endif %}
{% endblock content %}
